<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <!-- Shopware6 specifically designed elements - connectors to Boxalino Narrative API service -->
        <service id="Boxalino\RealTimeUserExperience\Framework\Request\ShopwareApiContextInterface"/>
        <service id="Boxalino\RealTimeUserExperienceApi\Service\Api\Request\RequestTransformerInterface"
                 class="Boxalino\RealTimeUserExperience\Framework\Request\RequestTransformer"
                 parent="boxalino.api.request.transformer">
        </service>
        <service id="Boxalino\RealTimeUserExperienceApi\Service\Api\Request\Context\ItemContextInterface"
                 class="Boxalino\RealTimeUserExperience\Framework\Request\ItemContextAbstract"
                 parent="boxalino.api.request.context.item"
                 abstract="true">
        </service>
        <service id="Boxalino\RealTimeUserExperienceApi\Service\Api\Request\Context\AutocompleteContextInterface"
                 class="Boxalino\RealTimeUserExperience\Framework\Request\AutocompleteContextAbstract"
                 parent="boxalino.api.request.context.autocomplete"
                 abstract="true">
        </service>
        <service id="Boxalino\RealTimeUserExperienceApi\Service\Api\Request\Context\ListingContextInterface"
                 class="Boxalino\RealTimeUserExperience\Framework\Request\ListingContextAbstract"
                 parent="boxalino.api.request.context.listing"
                 abstract="true">
        </service>
        <service id="Boxalino\RealTimeUserExperienceApi\Service\Api\Request\Context\SearchContextInterface"
                 class="Boxalino\RealTimeUserExperience\Framework\Request\SearchContextAbstract"
                 parent="boxalino.api.request.context.search"
                 abstract="true">
        </service>
        <service id="boxalino.request.context.cms"
                 class="Boxalino\RealTimeUserExperience\Framework\Request\CmsContextAbstract"
                 parent="boxalino.api.request.context.cms"
                 abstract="true">
        </service>
    </services>

</container>
