<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General Configuration</title>
        <title lang="de-DE">Minimale Konfiguration</title>
        <input-field type="bool">
            <name>status</name>
            <defaultValue>0</defaultValue>
            <label>Plugin Status</label>
            <helpText>Is the overall Boxalino plugin active (global switch)?</helpText>
        </input-field>
        <input-field type="text">
            <name>account</name>
            <label>Account</label>
            <helpText>Please request your account with credentials by contacting support@boxalino.com.</helpText>
        </input-field>
        <input-field type="text">
            <name>apiKey</name>
            <label>API key</label>
            <helpText>Please request your account with credentials by contacting support@boxalino.com.</helpText>
        </input-field>
        <input-field type="text">
            <name>apiSecret</name>
            <label>API secret</label>
            <helpText>Please request your account with credentials by contacting support@boxalino.com.</helpText>
        </input-field>
        <input-field type="bool">
            <name>devIndex</name>
            <defaultValue>0</defaultValue>
            <label>Use development data index</label>
        </input-field>
    </card>
    <card>
        <title>REST API</title>
        <title lang="de-DE">REST API</title>
        <input-field type="text">
            <name>apiUrl</name>
            <label>REST API Url</label>
            <helpText>REST API Url is https://*domain*.bx-cloud.com/narrative/*account*/api/1 where *domain* is main/r-st
                depending on your instance context (production or staging); *account* is the account name for the channel
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>test</name>
            <defaultValue>0</defaultValue>
            <label>Test mode</label>
            <helpText>The request will use test=false by default; The test property refers to the Boxalino Optimization configurations used (narratives, scenario, facets, etc)</helpText>
        </input-field>
        <input-field type="text">
            <name>apiServerKey</name>
            <label>JS API Server Key</label>
            <helpText>The API server key which can be used for JS events (does not require a secret)</helpText>
        </input-field>
    </card>
    <card>
        <title>Tracker</title>
        <title lang="de-DE">Tracker</title>
        <input-field type="bool">
            <name>trackerActive</name>
            <defaultValue>0</defaultValue>
            <label>Enable Tracker</label>
            <helpText>Is the JavaScript tracker enabled?</helpText>
        </input-field>
    </card>
</config>
