{% block sw_cms_element_narrative %}
    <div class="sw-cms-el-narrative">
        <p><b>Boxalino Narrative Element</b></p>
        <ul>
            <li><i>Recommendations Slider</i> (products, blogs, media, etc)</li>
            <li><i>Category Layout per narrative configuration</i> (page title, facets, product listing, other CMS elements, etc)</li>
            <li><i>CMS elements</i> (as configured in your narrative)</li>
        </ul>
    </div>
{% endblock %}
