{% block sw_cms_block_narrative_preview %}
    <div class="sw-cms-preview-narrative">
        <p><b>Boxalino API Narrative</b></p>
        <p>1. Create request definition service</p>
        <p>2. Create content loader handler</p>
        <p>3. Configure in Boxalino Intelligence</p>
        <p>4. Re-use.</p>
    </div>
{% endblock %}
